body{
    background-image: url("Unknown.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    background: linear-gradient(to right,skyblue, pink);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    background-color: pink;
    color: white;
    font-family: 'sans-serif', 'consolas', 'Times New Roman';
    font-weight: bold;
    font-style: italic;

}
#p1{
    background-color: white;
}

#p2{
    background-color: black;
}

.even{
    background-color: black;
    color: white;
}

.odd{
    background-color: white;
    color: black;
}